<div class="container mt-4">
  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <% if flash[:alert] %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>

<%= form_with(model: @message, local: true) do |form| %>
  <div class="field">
    <%= form.label :receiver_email %>
    <%= form.text_field :receiver_email, placeholder: 'Enter receiver\'s email' %>
  </div>


  <%= form.label :title %>
  <%= form.text_field :title, class: 'form-control' %>

  <%= form.label :body %>
  <%= form.text_area :body, class: 'form-control' %>

  <%= form.submit 'Send', class: 'btn btn-primary' %>

  <%= link_to 'Back to Messages', messages_path, class: 'btn btn-secondary btn-sm ms-2' %>
<% end %>
</div>