<div class="container mt-4">
  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <% if flash[:alert] %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>

<% extend RankingHelper %>


<% if @profile.user == current_user %>
  <h1>Your Profile</h1>
<% else %>
  <h1>Friend's Profile</h1>
<% end %>

<div style="display: flex; align-items: flex-start; margin-left: 0px;">
  <%= image_tag @profile.avatar_thumbnail, alt: "User Avatar", class: "avatar", 'data-turbolinks': false, 'data-cache-buster': Time.now.to_i %>

  <div style="margin-left: 50px; display: flex; flex-direction: column;">
    <div>
      <h2>Personal informations:</h2>
      <p><strong>Student Index:</strong> <%= @profile.student_index %></p>
      <p><strong>First Name: </strong> <%= @profile.name %></p>
      <p><strong>Surname: </strong> <%= @profile.surname %></p>
      <p><strong>Email: </strong> <%= @profile.email %></p>
    </div>
  </div>

  <div style="margin-left: 100px;">
    <h2>Statistics:</h2>
    <p><strong>Wins: </strong> <%= @profile.user.wins %></p>
    <p><strong>Loses: </strong><%= @profile.user.losses %></p>
    <p><strong>Draws: </strong><%= @profile.user.draws %></p>
    <p><strong>Win ratio: </strong><%= win_ratio(@profile.user) %></p>
  </div>
</div>
<br>

<% if @profile.user == current_user %>
  <%= link_to 'Edit Profile', edit_profile_path(@profile), class: 'btn btn-info' %>
<% end %>
</div>