<div class="container mt-4">
  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <% if flash[:alert] %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <h1>PoliChess</h1>
<% if current_user %>
  <h3>Welcome <%= current_user.profile.name %></h3>
  <br>

  <%= link_to "Received Invitations", received_invitations_path, class: 'btn btn-primary' %>
  <%= link_to "New Invitation", new_invitation_path, class: 'btn btn-success' %>


  <%= render partial: "layouts/players" %>

<% else %>
  <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-outline-success' %>
<% end %>
</div>