<div class="container mt-4">
  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <% if flash[:alert] %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>

<h1>New Invitation</h1>
<%= form_with(model: @invitation, url: invitations_path, method: :post) do |form| %>
  <%= form.label :receiver_email %>
  <%= form.text_field :receiver_email %>

  <%= form.submit 'Send', class: 'btn btn-primary' %>
<% end %>

</div>
